/**
 *   Home views
 */
#home {
	// Prmoted basic page.
	.pane-promoted-content-panel-pane-1 {
		h1 {
			font-size: 63px;
		}
		.views-field-field-image {
			margin-top: 10px;
		}
	}
	// Promoted services.
	.pane-promoted-content-panel-pane-2 {
		.views-field-field-link {
			margin-top: 10px;
		}
	}
	// Promoted photo galleries.
	.pane-promoted-content-panel-pane-3 {
		.views-field-field-photo {
			img {
				padding: @thumbnail-padding;
        margin-bottom: @line-height-computed;
				line-height: @line-height-base;
				background-color: @thumbnail-bg;
				border: 1px solid @thumbnail-border;
				border-radius: @thumbnail-border-radius;
			}
		}
	}
	// Promoted testimonials.
	.pane-promoted-content-panel-pane-4 {
	}
}


/**
 *   Blog views
 */
.view-blog {
  .views-row {
    border-bottom: solid 1px #eee;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .views-field-created {
    font-size: 1.2em;
  }
  .views-field-title {
    h2 {
      margin-top: 0px;
    } 
  }
  .views-field-field-image {
  }
  .views-field-body {
    padding: 10px 0;
  }
  .views-field-view-node {
  }
}

